@import
	url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");

@import
	url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");

#navigation ul {
	list-style: none;
	list-style-position: inside;
	margin-left: 60px;
	padding-left: 60px;
}

#navigation li {
	background: #ccc;
	border-left: 1px solid #999;
	float: left;
	margin-left: 30px;
	padding-left: 30px;
}

li {
	margin-left: 20px;
}

html, body {
	height: 100%;
}

body {
	font: 14px/1 'Open Sans', sans-serif;
	color: #555;
	background: #eee;
}

h1 {
	padding: 50px 0;
	font-weight: 400;
	text-align: center;
}

p {
	margin: 0 0 20px;
	line-height: 1.5;
}

.main {
	min-width: 320px;
	max-width: 800px;
	padding: 50px;
	margin: 0 auto;
	background: #fff;
}

section {
	display: block;
	padding: 20px 20px 0;
	border-top: 1px solid #ddd;
}

#navbar .active {
	color: #555;
	border: 1px solid #ddd;
	border-top: 2px solid orange;
	border-bottom: 2px solid #fff;
}

#navbar a {
	display: inline-block;
	margin: 0 0 -1px;
	padding: 15px 25px;
	font-weight: 600;
	text-align: center;
	color: #bbb;
	border: 1px solid transparent;
	text-decoration: none;
}

#navbar a:before {
	font-family: fontawesome;
	font-weight: normal;
	margin-right: 10px;
}

#navbar a[for*='1']:before {
	content: '\f015';
}

#navbar a[for*='2']:before {
	content: '\f007';
}

#navbar a[for*='3']:before {
	content: '\f040';
}

#navbar a[for*='4']:before {
	content: '\f19c';
}

#navbar a[for*='5']:before {
	content: '\f0f6';
}

#navbar a:hover {
	color: #888;
	cursor: pointer;
}

.space {
	line-height: 1.5;
	margin-top: 10px;
	margin-bottom: 30px;
}

.left {
	float: left;
	width: 70%;
}

.right {
	float: right;
	width: 30%;
}

.image {
	float: right;
}
